<h2>Informações da Empresa</h2>

<div id="detalhes">

    <img src="~/Content/images.png" />
    <p>
        Nome: Empresa Memes
    </p>
    <p>
        Telefone : 69 0000-000
    </p>
    <p>
        Endereço :Av Rondonia
    </p>
</div>

