@model SiteBD.Models.Seach
@Html.ValidationSummary()
<div id="seach"style="margin-left:114px;">
    <form action="" method="post">
        <input type="text" name="Aux" value="" style="width:70%" />
        <button type="submit">Buscar</button>
    </form>

</div>


<h2>Pagina Inicial</h2>
<div class="Empresas">
    <a href="~/Industria/Industria/Index"><img src="~/Content/images.png" /></a>
    <p>Nome     :Empresa Memes</p>
    <p>Telefone :0000-0000</p>
    <p>Endereço :Avenida Rondonia</p>
</div>
<div class="Empresas">
    <a href="~/Industria/Industria/Index"><img src="~/Content/images.png" /></a>
    <p>Nome     :Empresa Memes</p>
    <p>Telefone :0000-0000</p>
    <p>Endereço :Avenida Rondonia</p>
</div>
<div class="Empresas">
    <a href="~/Industria/Industria/Index"><img src="~/Content/images.png" /></a>
    <p>Nome     :Empresa Memes</p>
    <p>Telefone :0000-0000</p>
    <p>Endereço :Avenida Rondonia</p>
</div>
<div class="Empresas">
    <a href="~/Industria/Industria/Index"><img src="~/Content/images.png" /></a>
    <p>Nome     :Empresa Memes</p>
    <p>Telefone :0000-0000</p>
    <p>Endereço :Avenida Rondonia</p>
</div>
<div class="Empresas">
    <a href="~/Industria/Industria/Index"><img src="~/Content/images.png" /></a>
    <p>Nome     :Empresa Memes</p>
    <p>Telefone :0000-0000</p>
    <p>Endereço :Avenida Rondonia</p>
</div>
<div class="clear"></div>

